/* Home Page styiling */
@keyframes backgroundColorPalette {
    0% {
        background: #7284A8;
    }

    33% {
        background: #474954;
    }

    66% {
        background: rgb(110, 113, 186);
    }

    100% {
        background: rgb(66, 201, 216);
    }
}

@keyframes titleFadeInUp {
    0% {
        opacity: 0;
        transform: translateY(125px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
}

.hero-section {
    height: 100%;
    scroll-snap-align: start;
    animation-name: backgroundColorPalette;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section-content {
    
    animation: 1s ease-out 0s 1 titleFadeInUp;
}

.second-section {
    height: 100%;
    background-color: rgb(225, 48, 213);
    scroll-snap-align: start;
    background-image: url("images/coding2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.third-section {
    height: 100%;
    background-color: rgb(140, 238, 131);
    scroll-snap-align: start;
}