/* Home Page styiling */
@keyframes slideInFromTop {
    0% {
        transform: translateY(-75px);
    }

    100% {
        transform: translate(0);
    }
}

@keyframes yellowCircle {
    0% {
        transform: translateY(-150px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.yellow-circle-come-in {
    animation: 1.5s ease-out 0s 1 yellowCircle;
}

@keyframes blueCircle {
    0% {
        transform: translateY(150px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.blue-circle-come-in {
    animation: 1.5s ease-out 0s 1 blueCircle;
}

@keyframes backgroundColorPalette {
    0% { 
        background-position: 96% 0%;
    }

    50% {
        background-position:5% 100%;
    }

    100% {
        background-position:96% 0%;
    }
}

@keyframes titleFadeInUp {
    0% {
        opacity: 0;
        transform: translateY(125px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes mouseFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes moveMouseIcon {
    0% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(10px);
    }
}

@keyframes navbarChange {
    0% {
        background-color: transparent;
    }

    100% {
        background-color: white;
    }
}

@keyframes centerCard {
    0% {
        opacity: 0;
        width: 0;
        height: 0;
    }

    100% {
        opacity: 1;
        width: 250px;
        height: 350px;
    }
}
.center-card-comes-in {
    animation: centerCard 1s;
}

@keyframes rightCard {
    0% {
        opacity: 0;
        transform: translateX(300px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.right-card-comes-in {
    animation: rightCard 1s;
}

@keyframes leftCard {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.left-card-comes-in {
    animation: leftCard 1s;
}

.not-visible {
    opacity: 0;
}

#navbar {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    animation: 1.5s ease-out 0s 1 slideInFromTop;
    z-index: 9999;
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin: auto;
}

.navbar-left a h2{
    transition: ease-in-out 0.25s;
}

.navbar-right {
    width: 300px;
}

.navbar-right ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-right ul li, .navbar-left h2 {
    color: white;
}

.navbar-right ul a li{
    transition: ease-in-out 0.25s;
}

.navbar-right ul a li:hover, .navbar-left a h2:hover {
    color: rgb(113, 228, 226);
}

.container {
    height: 100vh;
}

.hero-section {
    background: linear-gradient(81deg, rgb(52, 175, 196), rgb(146, 137, 245),rgb(81, 13, 148), #0496c2, rgb(115, 105, 225), rgb(57, 171, 184));
    background-size: 800% 800%; 
    height: 100%;
    animation: backgroundColorPalette 30s ease infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-section-content {
    background-color: rgba(255, 255, 255, 0.16);
    animation: 1.5s ease-in-out 0s 1 titleFadeInUp;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 350px;
    box-shadow: 0 0 25px 0 rgb(75, 75, 75);
    border-radius: 10px;
    transition: 0.75s ease-in-out;
    transform-style: preserve-3d;
    position: relative;
}

.hero-section-content:hover {
    transform: rotateY(180deg);
}

.hero-section-text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    backface-visibility: hidden;
}

.hero-section-text-content h1 {
    text-align: center;
    color: white;
    padding-bottom: 5px;
    border-bottom: 1px solid red;
}

.hero-section-text-content p {
    text-align: center;
    margin-top: 10px;
    color: white;
}

.hero-section-text-contant-back {
    transform: rotateY(180deg);
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    width: 70%;
    backface-visibility: hidden;
}

.hero-section-text-contant-back a {
    color: white;
}

.mouse-icon {
    position: absolute;
    bottom: 20px;
    width: 125px;
    animation: 1.5s ease-out 0s 1 mouseFadeIn;
    text-align: center;
}

img.mouse {
    width: 35px;
    animation: 2s ease-in-out 0s infinite moveMouseIcon;
}

.mouse-icon p {
    color: white;
    text-align: center;
    font-size: 12px;
    animation: 1.5s ease-out 0s 1 mouseFadeIn;
    margin-top: 15px;
}

#second-section {
    height: 100%;
    background-image: url("images/coding2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#second-section h1 {
    color: white;
}

#third-section {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(23, 23, 97);
    position: relative;
}

#fourth-section {
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0, 33, 142, 0.6) ), url(images/contact.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-colored{
    background-color: white;
    color: black;
    transition: 0.5s;
}

.navbar-colored-text {
    color: black!important;
    border-bottom: 1px solid red;
    transition: 0.5s;
}

.navbar-colored-text:hover {
    color: rgb(0, 17, 114)!important;
}

.navbar-transparent {
    background-color: transparent;
    transition: 0.5s;
}

/*// cards css below //*/
.third-section-content {
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    column-gap: 50px;
}

.circle-1 {
    position: absolute;
    background: linear-gradient(315deg, rgb(255, 60, 0), rgb(255, 255, 99));
    height: 200px;
    width: 200px;
    border-radius: 200px;
    top: 15%;
    left: 25%;
    box-shadow: 0px 0px 50px 0px rgb(228, 70, 144);
}

.circle-2 {
    position: absolute;
    background: linear-gradient(90deg, rgb(123, 227, 245),rgb(2, 72, 109));
    height: 300px;
    width: 300px;
    border-radius: 200px;
    bottom: 10%;
    right: 25%;
    box-shadow: 0 0 50px 0 rgb(157, 146, 21);
}

.card {
    height: 350px;
    width: 250px;
    box-shadow: 20px 20px 50px 0 rgb(5, 5, 113);
    border-radius: 15px;
    position: relative;
    background: rgba(255, 255, 255, 0.4);
    overflow: hidden;
    border-top: 2px solid rgb(5, 5, 113);
    border-left: 2px solid rgb(5, 5, 113);
    backdrop-filter: blur(5px);
}

.card .container {
    padding: 50px 25px;
    transition: 0.75s;
    transform: translateY(100px);
    opacity: 0;
}

.card:hover .container {
    transform: translateY(0px);
    opacity: 1;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.card-header p {
    font-weight: 700;
    font-size: 27px;
    text-align: center;
}

.card-body {
    margin-top: 25px;
    padding: 10px 20px;
    box-shadow: 10px 15px 20px rgb(58, 0, 0);
    border-radius: 15px;
    border-top: 1px solid rgb(58, 0, 0);
    border-left: 1px solid rgb(58, 0, 0);
}

.card-body a {
    text-decoration: none;
}

.card-body p {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: rgb(2, 2, 111);
}
/*// cards css above //*/