/* Home Page styiling */
@keyframes backgroundColorPalette {
    0% { 
        background-position: 96% 0%;
    }

    50% {
        background-position:5% 100%;
    }

    100% {
        background-position:96% 0%;
    }
    /* 0% {
        background: #7284A8;
    }

    33% {
        background: #474954;
    }

    66% {
        background: rgb(110, 113, 186);
    }

    100% {
        background: rgb(57, 171, 184);
    } */
}

@keyframes titleFadeInUp {
    0% {
        opacity: 0;
        transform: translateY(125px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
}

.hero-section {
    background: linear-gradient(81deg, rgb(52, 175, 196), #0496c2, rgb(115, 105, 225), rgb(57, 171, 184));
    background-size: 800% 800%; 
    height: 100%;
    scroll-snap-align: start;
    animation: backgroundColorPalette 20s ease infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section-content {
    background-color: rgba(255, 255, 255, 0.16);
    animation: 1s ease-out 0s 1 titleFadeInUp;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 350px;
    box-shadow: 0 0 25px 0 rgb(75, 75, 75);
    border-radius: 10px;
}

.hero-section-content h1 {
    text-align: center;
    color: white;
}

.hero-section-content p {
    text-align: center;
    margin-top: 10px;
    color: white;
}

.second-section {
    height: 100%;
    background-color: rgb(225, 48, 213);
    scroll-snap-align: start;
    background-image: url("images/coding2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.third-section {
    height: 100%;
    background-color: rgb(140, 238, 131);
    scroll-snap-align: start;
}